.favorites-container{
    /* border: 1px solid black; */
    margin-top: 6%;
    display:flex;
    justify-content: center;
    height: 73vh;
}
.favorites-cards-container{
    width: 80%;
    /* border: 1px solid black; */
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 10px;
}
.no-locations-text{
    font-size: 35px;
}