.home-information-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.toast-container{
    position: relative;
    z-index: 99999;
    margin-top: 2%;
}
.search-and-info-container{
    display:flex;
    flex-direction: column;
    /* height: 70vh; */
    justify-content: space-evenly;

}